body
{
  background-color: #282c34;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  color: #abb2bf;
}

h1
{
  color: #e06c75;
  text-align: center;
}

p
{
  font-size: 20px;
}

ul
{
  color: #d19a66;
}

ol
{
  color: #e6c07b;
}

a
{
  color: #98c379;
  text-decoration: none;
}

img
{
  vertical-align: middle;
}

table
{
  border-spacing: 0;
}

th, td
{
  padding: 10px;
  text-align: center;
  border: 1px solid;
}
