/*
  Padding: space between component borders and the component itself
    ex -> padding: 5px, 10px, 5px, 10px (order = top, right, bottom, left)
  Margin: space between component borders and its container
    ex -> margin: 10px, 5px, 10px, 5px (order = top, right, bottom, left)
*/

body
{
  background-color: #282c34;
  /*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;*/
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  color: #abb2bf;
}

div
{
  border: 1px solid;
  padding: 20px;
  margin: 50px;
  color: #282c34;
  background-color: #e6c07b;
}

h1
{
  color: #e06c75;
  text-align: center;
}

p
{
  font-size: 20px;
}

ul
{
  color: #d19a66;
}

ol
{
  color: #e6c07b;
}

a
{
  color: #98c379;
  text-decoration: none;
}

img
{
  display: block;
  margin: auto;
}

table
{
  border-spacing: 2px;
  margin: auto;
}

th
{
  color: #e06c75;
  text-decoration: underline;
}

th, td
{
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-color: #abb2bf;
}
